* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    cursor: default;
}

@font-face {
  font-family: 'Penumbra';
  src: url('Penumbra Serif Std Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    background-color: #190b07;
    color: #d6d6d6;
}

#banner {
    height: 320px;
    background: url(main.webp) 100% / cover no-repeat;
    border-radius: 14px;
    position: relative;
}

.divCenter {
    display: block;
    width: 80%;
    max-width: 900px;
    margin: 16px auto;
}

#banner_title {
    display: block;
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: #321c17c2;
    border-radius: 14px;
}

.bannerElement {
    display: inline-block;
    margin: 14px 0 4px 10px;
    vertical-align: middle;
}

#banner_name {
    color: #dbdbdb;
    font-size: 34px;
    font-weight: 800;
    padding-bottom: 7px;
    text-shadow: 2px 2px 6px #c17400;
    font-family: Penumbra;
    padding-left: 20px;
}

#server_status {
    color: #23d295;
    background: #23d29533;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    font-family: monospace;
    margin-bottom: 13px;
}

#server_status.bannerElement.offline {
    color: #e84c49!important;
    background: #e84c4933!important;
}

.tag {
    display: inline-block;
    color: #e8ac02;
    background-color: #e8ac0233;
    font-size: 13px;
    padding: 4px 9px;
    vertical-align: middle;
    border-radius: 6px;
    font-weight: 500;
    margin: 4px 1px;
}

#tags {
    text-align: center;
}

.tag+.tag {
    color: #e96276;
    background-color: #e9627633;
}

.tag+.tag+.tag {
    color: #96d11b;
    background-color: #96d11b33;
}

.tag+.tag+.tag+.tag {
    color: #3fcb70;
    background-color: #3fcb7033;
}

.tag+.tag+.tag+.tag+.tag {
    color: #987bea;
    background-color: #987bea33;
}

#link_block {
    text-align: center;
    margin: 28px auto;
}

.divCenter p {
    font-size: 18px;
}

.greenHighlight {
    color: #42c365;
    background-color: #42c36511;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

#address_field {
    color: #fff;
    padding: 8px 30px;
    margin: 15px 0;
    font-family: monospace;
    width: 320px;
    font-size: 21px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #6c6c6c;
    background: #262626 url(copy_default.png) 340px / 28px no-repeat;
    transition: background-color 1s ease-in;
    outline: none;
}

#address_field:hover {
    border-color: #9e9e9e;
    background: #262626 url(copy_hover.png) 340px / 28px no-repeat;
}

#address_field:focus {
    background-color: #3a3a3a;
}

.description {
    display: block;
    margin: 34px 10px;
    line-height: 120%;
}

.greyHighlight {
    color: #c9c9c9;
    background-color: #c9c9c911;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

#support_block {
    text-align: center;
    margin: 34px auto;
    border-top: 1px solid #382211;
    border-bottom: 1px solid #382211;
    padding: 20px 0;
}

.header {
    font-size: 18px;
    padding: 0 0 10px 0;
}

.supportTable {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-size: 18px;
}

.supportTable td {
    padding: 8px 10px;
}

.voteButton {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #ee883e;
    padding: 6px 30px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
}

.supportTable td:nth-child(even) {
    text-align: center;
}

.voteButton.voted {
    color: #42dd79;
    background-color: #42dd7911;
}

#server_ip_copied_count {
    font-style: italic;
    font-size: 15px;
    color: #a3a3a3;
}

.donate_link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ee883e;
    border-radius: 10px;
    padding: 6px 80px;
    background-color: #ee883e33;
}

.donate_link:hover {
    background-color: #ee883e55;
}

#rules_block {
    margin: 34px auto;
    border-bottom: 1px solid #382211;
    padding: 20px 0;
    text-align: center;
}

.description.bold {
    font-weight: 500;
    margin: 34px 10px 10px 0;
}

.description.sub {
    font-size: 16px;
    margin: 6px 10px;
    color: #b8b8b8;
}

@media screen and (max-width: 768px) {
    .divCenter {
        width: 95%;
    }
}